.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.card{
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 60vh;
	background: #F8F8F8; 
	border: solid #BDBDBD 1px;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); 
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}
